.better-player__no-video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: black;
  padding: 20px;
}

.better-player__no-video-message {
  color: #fff;
}