$color-main: var(--better-player-color-main, #fff);
$font-size: var(--better-player-font-size, 16px);
$font-color: var(--better-player-font-color, #fff);
$controller-background: var(--better-player-controller-background, linear-gradient(transparent, #000));
$controller-spacing: var(--better-player-controller-spacing, 5px);
$controller-icon-size: var(--better-player-controller-icon-size, 32px);
$controller-font-size: var(--better-player-controller-font-size, 15px);
$controller-color: var(--better-player-controller-color, #fff);
$error-screen-icon-size: var(--better-player-error-screen-icon-size, 36px);
$error-screen-icon-color: var(--better-player-error-screen-icon-color, #fff);